<!DOCTYPE html>
{%extends 'loan/bade.html'%}
{%block base_block%}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>loan form</title>
</head>
<body>

<div class="container" align="center">
<h1 style="color:green;">WELCOME TO LOAN FORM</h1>
    <hr>

    <form method="post">
        <table>
            {{form}}
        </table>

        {%csrf_token%}
        <br>
        <input type="submit" class="btn btn-success value="submit">

    </form>


</div>
</body>
{%endblock%}
</html>